<a href="https://colab.research.google.com/github/Wanita-8943/efficientnet_keras_transfer_learning/blob/master/%E0%B8%95%E0%B8%B1%E0%B8%94%E0%B8%A3%E0%B8%B9%E0%B8%9B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import shutil
import cv2
import PIL
from PIL import Image

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv (r'/content/drive/MyDrive/Film pano/All_Film7.csv')
df

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
0,1,1,7,Y7F,V1.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
1,2,2,7,Y7F,V2.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
2,3,3,7,Y7F,V3.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
3,4,4,7,Y7F,V6.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
4,5,5,7,Y7F,V7.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
2926,138,50,25,Y25M,J146.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2927,139,51,25,Y25M,J166.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2928,140,52,25,Y25M,J169.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2929,141,53,25,Y25M,J183.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt
2930,142,54,25,Y25M,J208.jpg,/content/drive/My Drive/Film pano/25 year/25Y ...,เพศชาย,Rt

## Code

In [ ]:
# from PIL import Image
# import matplotlib.pyplot as plt

# path = df['path_img'].tolist()
# frac = 0.60
# for i in path:
#     img = Image.open(i)
#     #left---------------------------------------------------
#     left = 0
#     upper = 0
#     right = img.size[0]-((1-frac)/2)*img.size[0]
#     bottom = img.size[1]
#     cropped_left = img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_left.save('/left/'+i+'.jpg')
    
#     #right ---------------------------------------------------
#     left = img.size[0]*((1-frac)/2)
#     upper = 0
#     right = img.size[0]
#     bottom = img.size[1]
#     cropped_right= img.crop((left, upper, right, bottom))
#     #save setting by youreself
#     cropped_right.save('/right/'+i+'.jpg')
    
#    # flip ---------------------------------------------------

In [ ]:
# import PIL
# # from PIL import Image

# #read the image
# im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/2.'+filename)

# #flip image
# out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
# out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/2.2'+filename)

# Y7

### Y7-F_Both

In [4]:
Y7F_1= df[(df['Class'] == 'Y7F')&(df['Floder']=='Both')]#Y7F#หญิง
Y7F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
0,1,1,7,Y7F,V1.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
1,2,2,7,Y7F,V2.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
2,3,3,7,Y7F,V3.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
3,4,4,7,Y7F,V6.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
4,5,5,7,Y7F,V7.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
84,85,85,7,Y7F,V114jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
85,86,86,7,Y7F,V115.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
86,87,87,7,Y7F,V116.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
87,88,88,7,Y7F,V118.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both
88,89,89,7,Y7F,V119.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Both

In [8]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V1.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V2.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V3.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V6.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V7.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V9.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V10.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V13.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V14.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V15.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V16.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V17.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V19.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V120.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V22.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V23.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V24.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V25.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V26.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V27.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V28.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V29.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V30.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V33.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V34.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V35.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V36.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V38.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V40.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V41.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V42.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V43.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V45.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V46.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V49.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V50.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V51.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V52.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V53.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V54.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V55.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V56.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V57.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V59.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V60.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V61.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V62.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V63.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V64.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V66.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V67.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V68.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V69.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V70.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V74.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V75.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V76.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V78.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V79.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V81.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V84.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V85.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V88.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V91.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V92.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V93.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V94.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V95.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V96.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V97.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V98.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V99.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V100.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V101.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V102.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V103.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V104.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V106.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V107.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V108.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V109.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V110.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V111.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V112.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V114.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V115.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V116.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V118.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Both/V119.jpg

### Y7-M_Both

In [7]:
Y7M_1 = df[(df['Class'] == 'Y7M')&(df['Floder']=='Both')] #Y7M#ชาย
Y7M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
100,101,1,7,Y7M,VV03.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
101,102,2,7,Y7M,VV04.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
102,103,3,7,Y7M,VV05.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
103,104,4,7,Y7M,VV08.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
104,105,5,7,Y7M,VV09.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
163,164,64,7,Y7M,VV110.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
164,165,65,7,Y7M,VV112.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
165,166,66,7,Y7M,VV115.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
166,167,67,7,Y7M,VV116.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both
167,168,68,7,Y7M,VV117.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Both

In [9]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV03.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV04.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV05.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV08.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV09.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV10.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV11.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV13.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV14.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV16.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV18.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV19.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV21.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV22.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV24.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV25.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV26.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV27.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV33.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV35.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV36.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV37.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV39.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV41.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV43.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV45.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV46.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV48.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV49.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV50.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV51.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV52.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV55.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV56.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV57.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV61.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV62.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV63.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV65.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV69.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV70.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV71.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV72.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV74.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV77.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV78.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV79.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV80.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV81.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV82.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV83.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV84.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV85.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV88.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV89.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV91.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV94.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV98.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV100.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV101.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV104.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV107.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV108.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV110.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV112.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV115.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV116.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Both/VV117.jpg

### Y7-F_Lt

In [11]:
Y7F_2= df[(df['Class'] == 'Y7F')&(df['Floder']=='Lt')]#หญิง
Y7F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
94,95,95,7,Y7F,V11.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
95,96,96,7,Y7F,V31.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
96,97,97,7,Y7F,V32.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
97,98,98,7,Y7F,V71.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
98,99,99,7,Y7F,V73.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt
99,100,100,7,Y7F,V90.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Lt

In [12]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V11.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V31.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V32.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V71.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V73.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Lt/V90.jpg

### Y7-M_Lt

In [13]:
Y7M_2= df[(df['Class'] == 'Y7M')&(df['Floder']=='Lt')]#ชาย
Y7M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
168,169,69,7,Y7M,VV17.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
169,170,70,7,Y7M,VV28.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
170,171,71,7,Y7M,VV30.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
171,172,72,7,Y7M,VV40.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
172,173,73,7,Y7M,VV54.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
173,174,74,7,Y7M,VV67.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
174,175,75,7,Y7M,VV76.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
175,176,76,7,Y7M,VV97.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
176,177,77,7,Y7M,VV103.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
177,178,78,7,Y7M,VV105.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
178,179,79,7,Y7M,VV106.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
179,180,80,7,Y7M,VV113.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt
180,181,81,7,Y7M,VV119.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Lt

In [14]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV17.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV28.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV30.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV40.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV54.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV67.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV76.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV97.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV103.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV105.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV106.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV113.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Lt/VV119.jpg

### Y7-F_Rt

In [15]:
Y7F_3= df[(df['Class'] == 'Y7F')&(df['Floder']=='Rt')]#หญิง
Y7F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
89,90,90,7,Y7F,V5.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
90,91,91,7,Y7F,V44.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
91,92,92,7,Y7F,V65.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
92,93,93,7,Y7F,V86.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt
93,94,94,7,Y7F,V105.jpg,/content/drive/My Drive/Film pano/7 year/7Y-F/...,เพศหญิง,Rt

In [16]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V5.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V44.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V65.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V86.jpg
/content/drive/My Drive/Film pano/7 year/7Y-F/Rt/V105.jpg

### Y7-M_Rt

In [17]:
Y7M_3= df[(df['Class'] == 'Y7M')&(df['Floder']=='Rt')]#ชาย
Y7M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
181,182,82,7,Y7M,VV01.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
182,183,83,7,Y7M,VV02.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
183,184,84,7,Y7M,VV15.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
184,185,85,7,Y7M,VV20.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
185,186,86,7,Y7M,VV29.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
186,187,87,7,Y7M,VV31.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
187,188,88,7,Y7M,VV34.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
188,189,89,7,Y7M,VV38.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
189,190,90,7,Y7M,VV44.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
190,191,91,7,Y7M,VV53.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
191,192,92,7,Y7M,VV58.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
192,193,93,7,Y7M,VV66.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
193,194,94,7,Y7M,VV75.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
194,195,95,7,Y7M,VV86.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
195,196,96,7,Y7M,VV93.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
196,197,97,7,Y7M,VV96.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
197,198,98,7,Y7M,VV99.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
198,199,99,7,Y7M,VV118.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt
199,200,100,7,Y7M,VV120.jpg,/content/drive/My Drive/Film pano/7 year/7Y-M/...,เพศชาย,Rt

In [18]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y7M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/7Y/7Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV01.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV02.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV15.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV20.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV29.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV31.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV34.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV38.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV44.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV53.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV58.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV66.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV75.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV86.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV93.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV96.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV99.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV118.jpg
/content/drive/My Drive/Film pano/7 year/7Y-M/Rt/VV120.jpg

#Y8

### Y8-F_Both

In [19]:
Y8F_1= df[(df['Class'] == 'Y8F')&(df['Floder']=='Both')]#Y8F#หญิง
Y8F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
200,1,1,8,Y8F,P01.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
201,2,2,8,Y8F,P02.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
202,3,3,8,Y8F,P04.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
203,4,4,8,Y8F,P05.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
204,5,5,8,Y8F,P07.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
283,84,84,8,Y8F,P110.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
284,85,85,8,Y8F,P111.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
285,86,86,8,Y8F,P112.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
286,87,87,8,Y8F,P113.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both
287,88,88,8,Y8F,P114.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Both

In [20]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P01.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P02.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P04.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P05.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P07.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P08.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P09.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P11.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P12.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P13.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P14.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P18.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P20.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P21.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P22.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P23.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P24.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P25.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P26.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P27.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P28.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P29.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P30.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P32.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P35.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P36.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P37.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P38.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P40.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P42.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P43.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P44.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P45.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P47.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P49.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P50.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P51.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P52.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P53.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P54.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P56.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P57.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P60.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P62.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P64.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P65.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P66.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P67.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P68.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P69.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P70.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P72.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P73.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P74.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P75.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P76.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P77.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P78.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P79.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P80.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P81.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P82.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P84.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P85.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P87.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P88.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P90.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P91.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P92.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P93.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P95.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P96.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P97.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P98.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P99.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P100.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P101.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P102.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P103.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P104.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P106.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P107.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P108.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P110.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P111.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P112.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P113.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Both/P114.jpg

### Y8-M_Both

In [21]:
Y8M_1= df[(df['Class'] == 'Y8M')&(df['Floder']=='Both')]#Y8M#ชาย
Y8M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
300,101,1,8,Y8M,PP02.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
301,102,2,8,Y8M,PP03.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
302,103,3,8,Y8M,PP04.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
303,104,4,8,Y8M,PP05.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
304,105,5,8,Y8M,PP07.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
383,184,84,8,Y8M,PP116.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
384,185,85,8,Y8M,PP117.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
385,186,86,8,Y8M,PP118.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
386,187,87,8,Y8M,PP119.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both
387,188,88,8,Y8M,PP120.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Both

In [22]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP02.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP03.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP04.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP05.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP07.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP08.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP09.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP10.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP11.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP12.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP13.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP14.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP19.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP20.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP21.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP22.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP23.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP24.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP25.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP26.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP27.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP28.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP29.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP30.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP31.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP32.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP33.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP34.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP35.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP36.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP37.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP40.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP43.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP44.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP45.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP46.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP47.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP48.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP50.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP51.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP52.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP53.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP57.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP58.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP59.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP60.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP61.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP64.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP65.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP66.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP68.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP70.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP71.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP72.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP75.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP76.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP77.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP78.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP79.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP80.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP81.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP82.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP83.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP84.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP85.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP86.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP89.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP94.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP95.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP96.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP97.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP99.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP102.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP103.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP104.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP105.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP109.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP110.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP111.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP112.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP113.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP114.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP115.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP116.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP117.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP118.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP119.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Both/PP120.jpg

### Y8-F_Lt

In [23]:
Y8F_2= df[(df['Class'] == 'Y8F')&(df['Floder']=='Lt')]#หญิง
Y8F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
288,89,89,8,Y8F,P03.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
289,90,90,8,Y8F,P15.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
290,91,91,8,Y8F,P34.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
291,92,92,8,Y8F,P41.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
292,93,93,8,Y8F,P59.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
293,94,94,8,Y8F,P71.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
294,95,95,8,Y8F,P89.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt
295,96,96,8,Y8F,P109.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Lt

In [25]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P03.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P15.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P34.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P41.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P59.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P71.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P89.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Lt/P109.jpg

### Y8-M_Lt

In [26]:
Y8M_2= df[(df['Class'] == 'Y8M')&(df['Floder']=='Lt')]#ชาย
Y8M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
388,189,89,8,Y8M,PP06.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
389,190,90,8,Y8M,PP16.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
390,191,91,8,Y8M,PP42.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
391,192,92,8,Y8M,PP62.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt
392,193,93,8,Y8M,PP87.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Lt

In [27]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP06.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP16.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP42.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP62.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Lt/PP87.jpg

### Y8-F_Rt

In [28]:
Y8F_3= df[(df['Class'] == 'Y8F')&(df['Floder']=='Rt')]#หญิง
Y8F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
296,97,97,8,Y8F,P19.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
297,98,98,8,Y8F,P31.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
298,99,99,8,Y8F,P63.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt
299,100,100,8,Y8F,P86.jpg,/content/drive/My Drive/Film pano/8 year/8Y-F/...,เพศหญิง,Rt

In [29]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P19.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P31.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P63.jpg
/content/drive/My Drive/Film pano/8 year/8Y-F/Rt/P86.jpg

### Y8-M_Rt

In [30]:
Y8M_3= df[(df['Class'] == 'Y8M')&(df['Floder']=='Rt')]#ชาย
Y8M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
393,194,94,8,Y8M,PP38.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
394,195,95,8,Y8M,PP54.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
395,196,96,8,Y8M,PP73.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
396,197,97,8,Y8M,PP91.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
397,198,98,8,Y8M,PP92.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
398,199,99,8,Y8M,PP100.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt
399,200,100,8,Y8M,PP106.jpg,/content/drive/My Drive/Film pano/8 year/8Y-M/...,เพศชาย,Rt

In [31]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y8M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/8Y/8Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP38.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP54.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP73.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP91.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP92.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP100.jpg
/content/drive/My Drive/Film pano/8 year/8Y-M/Rt/PP106.jpg

# Y9

### Y9-F_Both

In [32]:
Y9F_1= df[(df['Class'] == 'Y9F')&(df['Floder']=='Both')]#Y9F#หญิง
Y9F_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
402,3,3,9,Y9F,W03.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
404,5,5,9,Y9F,W06.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
405,6,6,9,Y9F,W07.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
406,7,7,9,Y9F,W09.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
408,9,9,9,Y9F,W12.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
...,...,...,...,...,...,...,...,...
495,96,96,9,Y9F,W124.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
496,97,97,9,Y9F,W125.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
497,98,98,9,Y9F,W126.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
498,99,99,9,Y9F,W127.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both
499,100,100,9,Y9F,W129.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Both

In [33]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W03.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W06.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W07.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W09.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W12.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W13.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W14.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W16.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W18.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W19.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W22.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W23.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W25.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W27.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W30.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W31.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W35.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W36.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W40.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W43.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W44.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W45.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W48.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W49.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W52.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W55.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W59.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W61.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W64.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W65.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W70.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W72.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W73.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W74.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W76.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W78.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W79.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W80.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W81.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W84.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W85.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W86.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W87.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W88.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W89.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W91.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W92.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W93.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W95.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W97.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W98.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W99.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W100.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W104.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W105.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W107.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W108.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W109.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W111.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W112.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W113.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W115.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W116.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W117.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W118.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W119.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W121.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W122.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W123.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W124.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W125.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W126.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W127.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Both/W129.jpg

### Y9-M_Both

In [34]:
Y9M_1 = df[(df['Class'] == 'Y9M')&(df['Floder']=='Both')] #Y9M#ชาย
Y9M_1

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
500,101,1,9,Y9M,WW01.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
503,104,4,9,Y9M,WW05.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
504,105,5,9,Y9M,WW06.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
505,106,6,9,Y9M,WW07.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
506,107,7,9,Y9M,WW08.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
...,...,...,...,...,...,...,...,...
595,196,96,9,Y9M,WW136.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
596,197,97,9,Y9M,WW138.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
597,198,98,9,Y9M,WW139.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
598,199,99,9,Y9M,WW140.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both
599,200,100,9,Y9M,WW142.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Both

In [35]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_1['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/'+filename)
    
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/unflip_'+filename)
    
    #flip ---------------------------------------------------
    # #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/unflip_'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Both/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW01.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW05.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW06.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW07.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW08.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW09.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW11.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW12.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW13.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW14.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW20.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW21.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW23.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW24.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW26.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW29.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW31.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW34.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW39.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW40.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW41.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW42.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW44.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW46.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW49.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW50.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW51.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW52.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW53.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW55.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW56.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW57.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW58.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW59.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW60.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW61.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW62.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW64.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW66.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW67.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW68.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW69.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW72.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW74.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW75.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW76.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW77.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW78.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW79.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW80.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW81.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW82.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW83.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW84.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW85.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW88.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW89.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW90.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW91.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW93.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW97.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW98.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW100.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW101.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW108.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW109.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW111.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW112.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW113.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW114.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW116.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW117.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW120.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW121.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW124.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW125.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW128.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW129.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW132.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW133.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW135.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW136.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW138.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW139.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW140.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Both/WW142.jpg

### Y9-F_Lt

In [36]:
Y9F_2= df[(df['Class'] == 'Y9F')&(df['Floder']=='Lt')]#หญิง
Y9F_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
401,2,2,9,Y9F,W02.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
407,8,8,9,Y9F,W10.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
411,12,12,9,Y9F,W15.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
415,16,16,9,Y9F,W20.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
416,17,17,9,Y9F,W21.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
422,23,23,9,Y9F,W28.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
423,24,24,9,Y9F,W29.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
430,31,31,9,Y9F,W37.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
431,32,32,9,Y9F,W38.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
432,33,33,9,Y9F,W39.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
434,35,35,9,Y9F,W41.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
435,36,36,9,Y9F,W42.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
446,47,47,9,Y9F,W60.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
448,49,49,9,Y9F,W63.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt
469,70,70,9,Y9F,W90.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Lt

In [37]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W02.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W10.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W15.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W20.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W21.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W28.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W29.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W37.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W38.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W39.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W41.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W42.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W60.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W63.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Lt/W90.jpg

### Y9-M_Lt

In [38]:
Y9M_2= df[(df['Class'] == 'Y9M')&(df['Floder']=='Lt')]#ชาย
Y9M_2

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
513,114,14,9,Y9M,WW15.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
515,116,16,9,Y9M,WW19.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
522,123,23,9,Y9M,WW27.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
526,127,27,9,Y9M,WW37.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
531,132,32,9,Y9M,WW43.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
533,134,34,9,Y9M,WW45.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt
548,149,49,9,Y9M,WW63.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Lt

In [39]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_2['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)
    #right ---------------------------------------------------
    left = img.size[0]*((1-frac))
    upper = 0
    right = img.size[0]
    bottom = img.size[1]
    cropped_right= img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_right.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/'+filename)
    #flip ---------------------------------------------------
    #read the image
    im = Image.open('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/'+filename)

    #flip image
    out = im.transpose(PIL.Image.FLIP_LEFT_RIGHT)
    out.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Lt/Flip_'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW15.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW19.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW27.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW37.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW43.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW45.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Lt/WW63.jpg

### Y9-F_Rt

In [40]:
Y9F_3= df[(df['Class'] == 'Y9F')&(df['Floder']=='Rt')]#หญิง
Y9F_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
400,1,1,9,Y9F,W01.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
403,4,4,9,Y9F,W05.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
420,21,21,9,Y9F,W26.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
426,27,27,9,Y9F,W32.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
427,28,28,9,Y9F,W34.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
443,44,44,9,Y9F,W56.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
444,45,45,9,Y9F,W58.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
451,52,52,9,Y9F,W66.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
452,53,53,9,Y9F,W68.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
462,63,63,9,Y9F,W82.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt
474,75,75,9,Y9F,W96.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศหญิง,Rt

In [41]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9F_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-F/Rt/'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W01.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W05.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W26.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W32.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W34.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W56.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W58.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W66.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W68.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W82.jpg
/content/drive/My Drive/Film pano/9 year/9Y - F/Rt/W96.jpg

### Y9-M_Rt

In [42]:
Y9M_3= df[(df['Class'] == 'Y9M')&(df['Floder']=='Rt')]#ชาย
Y9M_3

,Fig_All,Fig_Gender,Age(year),Class,Filename,Path_filename,Sex,Floder
501,102,2,9,Y9M,WW03.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
502,103,3,9,Y9M,WW04.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
508,109,9,9,Y9M,WW10.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
514,115,15,9,Y9M,WW17.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
518,119,19,9,Y9M,WW22.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
554,155,55,9,Y9M,WW71.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt
575,176,76,9,Y9M,WW99.jpg,/content/drive/My Drive/Film pano/9 year/9Y - ...,เพศชาย,Rt

In [43]:
from PIL import Image
import matplotlib.pyplot as plt

path = Y9M_3['Path_filename'].tolist()
frac = 0.60
for i in path:
    filename = i.split("/")[-1]
    img = Image.open(i)
    print(i)#left---------------------------------------------------
    left = 0
    upper = 0
    right = img.size[0]-((1-frac))*img.size[0] 
    bottom = img.size[1]
    cropped_left = img.crop((left, upper, right, bottom))
    #save setting by youreself
    cropped_left.save('/content/drive/MyDrive/cut_panoramic/9Y/9Y-M/Rt/'+filename)

/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW03.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW04.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW10.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW17.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW22.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW71.jpg
/content/drive/My Drive/Film pano/9 year/9Y - M/Rt/WW99.jpg